extends layout

block content
  div.hero-unit
    h1 欢迎来到 WeiboDemo
    p WeiboDemo 是一个基于 Node.js 的微博系统
    p
      a.btn.btn-primary.btn-large(href='/login') 登录
      | 
      a.btn.btn-large(href='/reg') 立即注册